<h1>Welcome to user profile page</h1>
<p>Hey, <%= user.name %></p>
<p>your ID = <%= user.id %></p>
<p>Your mail address is  <%= user.email %></p>
<br>
<br>
<p>Do you want to schedule an appointment</p>
<form action="" method="POST">
    <p>Select Doctor: </p>
    <select id="myDoctor">
        <option>Dr. Vishal</option>
        <option>Dr. Lekhit</option>
    </select>
    <p>.</p>
    <p>Select date: </p>
    <textarea></textarea>
    <button>Book your appointment</button>
</form>